:root {
    --amarillo: yellow ;
    --azul: blue  ;
    --rojo: red;
    --verde: green ;
    --gris: gray;
    --grisClaro: #ccc;
    --blanco: white;
    --negro: black;
    --marron: brown;
    --celeste: skyblue ;
    --purpura: purple;
    --cAzul: #2C3E50;
    --cVerde: #18BC9C;
}